*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.banner-div{
    background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url(../img/Banner.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
     width: 100vw;
}
.nev-bar{
    width: 85%;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}
.logo{
    width: 120px;
    align-items: flex-start;
    margin: 0;
    padding: 10px;
    padding-left: 30px;
}
.nev-bar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.nev-bar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.nev-bar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.nev-bar ul li:hover::after{
    width: 100%;
}
.content-div{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}
.content-div h1{
    font-size: 70px;
    margin-top: 80px;
}
.content-div p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #009688;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
width: 100%;

}
button:hover{
    border: none;
}